:root {
  --dark-purple: #352f44;
  --dark-blue: #1e2a4a;
  --lavander: #b9b4c7;
  --light-cream: #faf0e6;
}

#logo {
  width: 250px;
}

body {
  background: linear-gradient(to bottom, var(--dark-blue), var(--dark-purple));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  width: 700px;
  height: 560px;
  font: 14px "Open Sans", Helvetica, Arial, sans-serif;
  color: var(--light-cream);
}

main {
  flex-direction: column;
  display: flex;
  align-items: center;
  padding: 2rem;
  overflow-y: auto;
  height: 500px;
}

#find-button {
  background-color: var(--lavander);
  color: var(--dark-purple);
  margin-top: 1rem;
  padding: 0.75rem 2.5rem;
  border-radius: 10px;
}

h1 {
  font-family: "Comfortaa", cursive;
  margin-bottom: 0px;
  font-weight: 100;
}

p {
  margin-bottom: 0px;
}

#table-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  border-radius: 8px;
  flex-direction: column;
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

#table-container table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}

#table-container th,
#table-container td {
  padding: 10px;
  border-bottom: 1px solid var(--light-cream);
}

#table-container th {
  color: var(--light-cream);
  font-weight: 600;
}

.article-title {
  font-size: 1rem;
  margin-bottom: 0.3rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 0.8rem;
  margin-bottom: 2rem;
}
